<footer class="uk-margin-top uk-section uk-padding-remove-vertical uk-light">

  <div class="bottom-area">
    <div class="uk-container">
      <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-medium uk-grid" data-uk-grid=""
        data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">
        <div class="uk-first-column uk-scrollspy-inview uk-animation-fade">
          <div class="widget">
            <div class="tw-logo">
              <h3 class="site-name">
                <a href="#">Nortus MC</a>
              </h3>
            </div>
            <p>
              Duis sed odio sit amet nibh vulputate cursus sit amet mauris morbi accumsan ipsum velit nam nec tellus
              tincidunt auctor ornare odio sed non consequat auctor.
            </p>
            <div class="tw-socials">
              <a href="#"><i class="ion-social-facebook"></i></a>
              <a href="#"><i class="ion-social-instagram"></i></a>
              <a href="#"><i class="ion-social-pinterest"></i></a>
              <a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"><i class="ion-social-youtube"></i></a>
              <a href="#"><i class="ion-social-rss"></i></a>
            </div>
          </div>
        </div>

        <div class="uk-scrollspy-inview uk-animation-fade" style="">
          <div class="uk-padding-left">
            <div class="widget widget_recent_entries">
              <h3 class="widget-title"><span>Popular Posts</span></h3>
              <ul>
                <li>
                  <a href="#">Suspendisse vulputate diam</a>
                  <span class="tw-meta">January 22, 2017</span>
                </li>
                <li>
                  <a href="#">Facilisis Nulla Elementum</a>
                  <span class="tw-meta">January 22, 2017</span>
                </li>
                <li>
                  <a href="#">Mauris pharetra interdum</a>
                  <span class="tw-meta">January 22, 2017</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="widget uk-scrollspy-inview uk-animation-fade" style="">
          <div class="uk-padding-left">
            <h3 class="widget-title"><span>Useful Links</span></h3>
            <ul>
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Testimonails</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="uk-scrollspy-inview uk-animation-fade" style="">
          <div class="widget tw-contact-widget">
            <h3 class="widget-title"><span>Contact Info</span></h3>
            <ul>
              <li>
                <i class="ion-ios-location"></i>
                <a href="#">88 Orchard St, New York, NY 111000, United States.</a>
              </li>
              <li>
                <i class="ion-android-call"></i>
                <a href="#">(001) 8686 234 432</a>
              </li>
              <li>
                <i class="ion-android-mail"></i>
                <a href="#">support@themewaves.com</a>
              </li>
              <li>
                <i class="ion-ios-world-outline"></i>
                <a href="#">www.themewaves.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-area footer-small">
    <div class="uk-container">
      <div class="uk-flex-middle uk-child-width-1-1 uk-child-width-expand@m uk-grid" data-uk-grid="">
        <div class="copyright uk-first-column">
          © Copyright 2020 - Todos os direitos reservados.
        </div>
        <div class="uk-text-right">
          <a uk-icon="icon: arrow-up" href="" data-uk-scroll="">Voltar para o topo</a>
        </div>
      </div>
    </div>
  </div>

</footer>
