<nav class="tm-navbar uk-navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">

    <ul class="uk-navbar-nav uk-hidden-small">
      <li><a class="uk-navbar-brand uk-hidden-small" href="index.html"><img class="uk-margin uk-margin-remove"
            src="assets/img/senior-logo.png" width="40" height="30" title="UIkit" alt="UIkit"></a></li>
      <li><a href="docs/documentation_get-started.html" uk-icon="icon: home">Início</a></li>
      <li><a href="docs/documentation_get-started.html" uk-icon="icon: bell">Anúncios</a></li>
      <li><a href="docs/documentation_get-started.html" uk-icon="icon: world">Servidores</a></li>
      <li><a href="docs/core.html" uk-icon="icon: cart">Loja</a></li>
      <li><a href="showcase/index.html" uk-icon="icon: users">Equipe</a></li>
      <li><a href="showcase/index.html" uk-icon="icon: history">Atualizações</a></li>
      <li><a href="/" uk-icon="icon: file-text">Sobre Nós</a></li>
    </ul>

  </div>
</nav>
