<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
  data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80" data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
  data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
  <h1>Servidores</h1>
</div>

<div class="uk-text-center" uk-background-cover>
  <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
    <img class="uk-transition-scale-up uk-transition-opaque" src="../../../assets/img/image1.jpg" alt=""
      style="min-width: 350px; width: 350px, 100vw">
  </div>
  <h1>teste</h1>
</div>
